<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Form</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">It's A Doggy Dog World!!!</h1>
        </div>
        <form method="POST" action="/add" th:object="${dog}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" th:field="*{name}" />
            </div>
            <div class="form-group">
                <label for="species">Species</label>
                <input type="text" class="form-control" th:field="*{species}" />
            </div>
            <div class="form-group">
                <label for="image">Upload Image</label>
                <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>